body {
  margin: 0;
  padding: 0;
  background: url('./background-img.jpg');
  background-size: cover; 
  padding: 2em;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  padding: 2em;
  color: white;
  margin: 0 auto;
  background: black;
  border-radius: 5px;
}

h1 {
  font-size: 4rem;
}

h4 {
  font-size: 2rem;
  text-align: center;
}

button {
  border-radius: 50%;
  width: 8em;
  height: 8em;
  background: red;
  color: white;
  font-weight: bolder;
  border: none;
  outline: none;
  font-size: 2rem;
  cursor: pointer;
}

button:hover {
  opacity: .8;
}
